@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-rotation: 40;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scene {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  overflow-y: auto;
}

.carousel {
  width: 210px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
}

.item {
  position: absolute;
  top: 0;
  left: 0;

  width: 210px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.item:nth-child(1) {
  background-color: #ff7979;
  transform: rotateY(20deg) translateZ(300px);
}
.item:nth-child(2) {
  background-color: #bfa75b;
  transform: rotateY(15deg) translateZ(280px);
}
.item:nth-child(3) {
  background-color: #4050ab;
  transform: rotateY(10deg) translateZ(260px);
}
.item:nth-child(4) {
  background-color: #a79f3d;
  transform: rotateY(5deg) translateZ(240px);
}
.item:nth-child(5) {
  background-color: #e4f92a;
  transform: rotateY(0deg) translateZ(220px);
}
.item:nth-child(6) {
  background-color: #a6fba6;
  transform: rotateY(-5deg) translateZ(200px);
}
.item:nth-child(7) {
  background-color: #b4e057;
  transform: rotateY(-10deg) translateZ(180px);
}
.item:nth-child(8) {
  background-color: #d0fe4c;
  transform: rotateY(-15deg) translateZ(160px);
}
.item:nth-child(9) {
  background-color: #20a991;
  transform: rotateY(-20deg) translateZ(140px);
}
